.card-search {
    background-color: #eff1f5;
}

h5{
    color: #fca311;
}

 .center {
     display: none;
     
 }

 .week {
color: #fca311;
border-radius: .6rem;
display:flex;
flex-direction: column;
height: 250px;
width: 700px;


 } 
 
 img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }

h2{
    color: #eff1f5
}