@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    background-image: url('http://i.stack.imgur.com/kx8MT.gif');
    background-size: contain


}

.navbarcustom {
    background-color: #14213D;
}

.navbar-brand {
    color: #fca311
}

